<div class="text-center mt-3">
  <h2>Your matches - {{ pagination?.totalItems }} found</h2>
</div>

<div class="container mt-3">
  <form #form="ngForm" (ngSubmit)="loadMembers()" autocomplete="off" class="form-inline mb-3">
    <div class="form-group">
      <label for="minAge">Age from: </label>
      <input [(ngModel)]="userParams.minAge" class="form-control ml-1" id="minAge" name="minAge" type="number">
    </div>

    <div class="form-group px-2">
      <label for="maxAge">Age to: </label>
      <input [(ngModel)]="userParams.maxAge" class="form-control ml-1" id="maxAge" name="maxAge" type="number">
    </div>

    <div class="form-group px-2">
      <label for="gender">Show: </label>
      <select class="form-control ml-1" id="gender" name="gender" [(ngModel)]="userParams.gender">
        <option *ngFor="let gender of genderList" [value]="gender.value">
          {{ gender.display }}
        </option>
      </select>
    </div>

    <button class="btn btn-primary ml-1" type="submit">Apply Filters</button>
    <button (click)="resetFilters()" class="btn btn-info ml-1" type="submit">Reset Filters</button>

    <div class="col">
      <div class="btn-group btn-group-toggle float-right" ngbRadioGroup>
        <label ngbButtonLabel class="btn-primary">
          <input (click)="userParams.orderBy = 'lastActive'; loadMembers()"
                 [(ngModel)]="userParams.orderBy"
                 name="orderBy"
                 ngbButton
                 type="radio"
                 value="lastActive"> Last Active
        </label>

        <label ngbButtonLabel class="btn-primary">
          <input (click)="userParams.orderBy = 'created'; loadMembers()"
                 [(ngModel)]="userParams.orderBy"
                 name="orderBy"
                 ngbButton
                 type="radio"
                 value="created"> Newest Members
        </label>
      </div>
    </div>

  </form>
</div>

<div class="row">
  <div *ngFor="let member of members" class="col-2">
    <app-member-card [member]="member"></app-member-card>
  </div>
</div>

<ngb-pagination (pageChange)="onPageChanged($event)"
                *ngIf="pagination"
                [(ngModel)]="pagination.currentPage"
                [boundaryLinks]="true"
                [collectionSize]="pagination.totalItems"
                [pageSize]="pagination.itemsPerPage"
                ngDefaultControl
                class="d-flex justify-content-center">
</ngb-pagination>
